.user-container{
    background-color: antiquewhite;
    padding: 25px;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap : 1.5rem;
}

#user-image{
    height: 100px;
    border-radius: 50px;
}